$switch-background: $grey-light !default;
$switch-border: 0.1rem solid transparent !default;
$switch-background-active: $primary !default;
$switch-radius: $radius !default;
$switch-paddle-background: $white !default;
$switch-paddle-background-active: $primary !default;
$switch-paddle-offset: 0.25rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;
$switch-focus: 1px dotted $grey-light !default;

$checkbox-radius: $radius !default;
$checkbox-border: 0.1rem solid $grey-lighter !default;
$checkbox-block-background: $white-ter !default;
$checkbox-checked-width: 0.1rem !default;
$checkradio-focus: 1px dotted $grey-light !default;
$checkradio-top-offset: 0rem !default;

$tooltip-animation-duration: 0.3s !default;
$tooltip-animation-transition-timing-function: linear !default;
$tooltip-arrow-size: 6px !default;
$tooltip-background-color: $grey-dark !default;
$tooltip-background-opacity: 0.9 !default;
$tooltip-color: $white !default;
$tooltip-font-family: $family-primary !default;
$tooltip-font-size: $size-7 !default;
$tooltip-max-width: 15rem !default;
$tooltip-padding: 0.5rem 1rem !default;
$tooltip-radius: $radius-small !default;
$tooltip-z-index: 1020 !default;

$calendar-border: 0.1rem solid $white-ter !default;
$calendar-border-radius: $radius-small !default;
$calendar-selection-background-color: $primary !default;
$calendar-days-background-color: transparent !default;
$calendar-selection-days-color: $grey-light !default;
$calendar-date-color: $text !default;
$calendar-date-hover-background-color: $white !default;
$calendar-date-hover-border: 0.1rem solid $primary !default;
$calendar-date-hover-border: $primary !default;
$calendar-today-background: transparent !default;
$calendar-today-border: 0.1rem dotted $primary !default;
$calendar-today-color: $primary !default;
$calendar-range-background-color: $primary !default;
$calendar-body-padding: 0 !default;
$calendar-selection-padding: 0.3rem 0 !default;
$calendar-selection-nav-padding: 0.5em !default;
$calendar-date-padding: 0.1rem 0 !default;
